<h1>Customer Profile</h1>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Customer.js"></script>
<table cellpadding="11" border="1">

    <tr>
        <td>Customer ID :</td>
        <td>
            <select id="customerid"></select>
        </td>
    </tr>

    <tr>
        <td>ForeName :</td>
        <td>
            <input type="text" id="forename" />
        </td>
    </tr>

    <tr>
        <td>SurName :</td>
        <td>
            <input type="text" id="surname" />
        </td>
    </tr>

    <tr>
        <td>Date Of Birth :</td>
        <td>
            <input type="datetime" id="dob" />
        </td>
    </tr>

    <tr>
        <td>Gender :</td>
        <td>
            <input type="text" id="gender" />
        </td>
    </tr>

    <tr>
        <td>Home Phone :</td>
        <td>
            <input type="text" id="homephone" />
        </td>
    </tr>

    <tr>
        <td>Work Phone :</td>
        <td>
            <input type="text" id="workphone" />
        </td>
    </tr>
    <tr>
        <td>Mobile Phone :</td>
        <td>
            <input type="text" id="mobilephone" />
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <input type="submit" value="Insert" id="insert" />
        </td>
    </tr>
</table>
<br />
<div id="msg"></div>